<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- set css -%}{%- include "styles.css" -%}{% endset -%}
    <style>{{ css | cssmin | safe }}</style>
    <title>{%- if title -%}{{ title }}{%- else -%}An example site. Deployed to Netlify{%- endif -%}</title>
    <meta name="description" content="{%- if description -%}{{ description }}{%- else -%}A simple site. Deployed to Netlify as an demonstration.{%- endif -%}"/>
  </head>
  <body>
    <header>
      <div class="container">
        <a href="/" class="home" title="Home">
          <img src="/images/crownAR.png" class="logomark" alt="Revolutioning Reality"> </img>
        </a>
        <h1>
          🎉 We are an Augmented Reality Company
        </h1>
        <h2>
          Launching Soon!
        </h2>
      </div>
    </header>
  </body>
</html>
